
$primary = #0057a3

wh($width, $height)
    width $width
    height $height

fj($type=space-between)
    display flex
    justify-content $type
// 1px边框
border-1px($color, $width)
  position relative
  &:after
    display block
    position absolute
    left 0
    bottom 0
    width $width
    border-top 1px solid $color
    content ' '